<p>
  <%= image_tag("doctors.jpg") %>
</p>
<p>
沈阳市德济医院1楼VIP门诊是在沈阳市德济医院/沈阳市大东区长安社区卫生服务中心的医疗团队，我们从事全科医疗/家庭医学服务和临床医学教学。我们秉承救死扶伤的服务目的。我们的医疗服务宗旨是竭尽我们的全力恢复患者的健康及尊严。我们全心全意为病人服务。珍视每一位到诊的患者。我们努力使每一位就诊患者感受到家人般的医疗关怀和照顾。
</p>
