<h4>LIGHT EMR to keep track of excellent patient care</h4>
<h5>Verse of the day</h5>
<script type="text/javascript" language="JavaScript" src="http://www.biblegateway.com/votd/votd.write.callback.js"> 
</script>
<script type="text/javascript" language="JavaScript" src="http://www.biblegateway.com/votd/get?format=json&version=ESV&callback=BG.votdWriteCallback"> 
</script>
<!-- alternative for no javascript -->
<noscript>
<iframe framespacing="0" frameborder="no" src="http://www.biblegateway.com/votd/get?format=html&version=ESV">View Verse of the Day</iframe> 
</noscript>
